localhost:2015

file_server browse

log {
  output stdout
  format if "status != 200 && status != 304" jsonselect "{severity:level} {timestamp:ts} {logName:logger} {httpRequest>requestMethod:request>method} {httpRequest>protocol:request>proto} {httpRequest>status:status} {httpRequest>responseSize:size} {httpRequest>userAgent:request>headers>User-Agent>[0]}" {
    level_format "upper"
    time_format "rfc3339_nano"
  }
}